@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

html {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    background-color: salmon;
    color: antiquewhite;
}

h1{
    color: rgba(255, 255, 255, 06);
    margin-left: 2%;
}


.mainContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.gameContainer {
    display: grid;
    min-width: 35vw;
    height: 60vh;
    background-color: rgba(20, 247, 247, 0.8);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    animation-duration: 1s;
    animation-name: arrivein, arriveout;
    animation-delay: 0ms, 1s;

}

#reset {
    opacity: 0;
}

#reset::after{
    opacity: 1;
    content: '';
    display: block;
    text-align: center;
    width: 80%;
    margin-left: 12%;
    height: 0.1em;
    background-color: antiquewhite;
    transition: opacity 500ms, transform 500ms;
    transform: scale(0);
    transform-origin: center;

}

#reset:hover::after,
#reset:focus::after{

    /* transform: translate3d(0, 0.2em, 0); */
    transform: scale(1);
}

#reset:hover {
    cursor: pointer;
    color: rgba(20, 247, 247, 0.8);
}

.shadowButtons {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin: 0;
};


@keyframes arrivein{
    from {
        gap: 0px;
    }
    to {
        gap: 15px
    }
}
    
@keyframes arriveout {

    from {
        gap: 15px;
    }
    to{
        gap:5px;
    }
}

.gridItem{
    background-color: rgb(250, 128, 114);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 0;
   
}

.gridItem:hover {
    background-color: rgba(250, 128, 114, 0.7);
    cursor: pointer;
}

.sidePanel{
    position: absolute;
    right: 5%;
    top: 25%;   
    text-align: center;
    width: 20%;
}

.aiButtons {
    position: relative;

}

.aiButtons p{
    font-size: 0.8rem;
    margin: 10px;
    
    
}

.underlined::after{
    opacity: 1;
    content: '';
    display: block;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    height: 0.1em;
    background-color: antiquewhite;
    transition: opacity 500ms, transform 500ms;
    transform: scale(0);
    transform-origin: center;

}

.underlined:hover::after,
.underlined:focus::after{

    /* transform: translate3d(0, 0.2em, 0); */
    transform: scale(1);
}



.aiButtons p:hover{
    cursor: pointer;
    color: rgba(20, 247, 247, 0.8);
    
}

#turn{
    font-size: 1.3em;
}

/*Media Queries: Small Screen */

@media screen and (max-width: 500px){
    
    .gameContainer{
        min-width: 60vw;
        max-height: 40vh;
        font-size: 18px;
    }

    .mainContainer{
        width: 100%;
        
    }

    .sidePanel{
        display: inline;
        position: relative;
        margin: 0;
        padding: 0;
        line-height: 1;
    }
    
    

} /* end media query (max-width 500px)
